# For full config options, check the docs:
#    docs.serverless.com

service: serverless-contact

custom:
  secrets: ${file(secrets.json)}
# serverless-webpack configuration
# Enable auto-packing of external modules
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true

# Use the serverless-webpack plugin to transpile ES6
plugins:
  - serverless-webpack

# serverless optimization
package:
  individually: true

#
provider:
  name: aws
  runtime: nodejs10.x
  stage: dev
  region: ${self:custom.secrets.REGION}
  profile: ${self:custom.secrets.PROFILE}
  # memory: 128
  timeout: 10
  environment:
    DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}
    SENDER_EMAIL: ${self:custom.secrets.SENDER_EMAIL}
    EMAIL_SUBJECT: Serverless Mail
    CONFIG_SET: ConfigSet

#
functions:
  hello:
    handler: ./src/handler.hello
  sendMail:
    handler: ./src/handler.sendMail
    description: Send Email using AWS SES Service
    events:
      - http:
          path: sendMail
          method: post
          integration: lambda
          cors: true
          response:
            headers:
              "Access-Control-Allow_Origin": "'*'"

# CloudFormation resource templates here
resources:
  Resources:
    ContactFormDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.DYNAMODB_TABLE}
